<% include partials/header %>
    <% include partials/navbar %>
        <div class="jumbotron">
        <div class="container text-center">
            <p id="welcome-header"><%= title %></p>
            <p id="tbd-header">Work TBD: <%= role %> role</p>
        </div>
    </div>
<% include partials/footer %>
