<% include partials/header %>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#myPage">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Exit</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container middle">
        <div class="row text-center">
            <h1>
                <%= title %>
            </h1>
            <h3>Welcome to
                <%= title %>. Let's get started by clicking the sign in button.
            </h3>
            <a class="btn" href="#" role="button">Sign In</a><br><br>
            <h4><b>Note: Signing into the Grad Apps portal requires a valid Passport York account.</b></h4>

        </div>
    </div>
    </body>

    </html>
