<% include static/header %>
    <div class="container middle">
        <div class="row text-center">
            <h1 id="welcome-header"><%= title %></h1>
            <h3 id="sign-in-message">Sign in to the application to get started</h3>
            <a id="sign-in-btn" class="btn" href="/roles" role="button">Sign In</a>
            <br></br>
            <h4 id="sign-in-note"><b>Note: Signing into the Grad Apps portal requires a valid EECS username</b></h4>
        </div>
    </div>
<% include static/footer %>
</body>
</html>
