<% include partials/header %>
    <% include partials/navbar %>
        <!--Main Message-->
        <div class="jumbotron">
            <div class="container text-center">
                <h1 id="welcome-header">
                    <%= title %>
                </h1>
                <% if (message.length > 0) { %>
                    <div id="register-message" class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h5 id="registration-success"><%= message %></h5>
                    </div>
                <% } %>
                <h4 id="sign-in-note">Have an account? Sign in to get started</h4>
                <a id="sign-in-btn" href="/login" class="btn btn-primary btn-lg">Sign In <span class="glyphicon glyphicon-log-in"></span></a>
                <h4 id="sign-up-note">Need an account? Register as a new user to get started</h4>
                <a id="sign-up-btn" href="/register" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user"></span> Register</a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Now with...
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 id="h1">Application Filtering</h2>
                    <p id="p1">You are now able to search for graduate student applications that matter to you! Simply choose the application attributes along with the desired values and you are good to go! Don't forget to save your most used filter as a <u>preset</u> for future searches!</p>
                </div>
                <div class="col-md-4">
                    <h2 id="h2">A Simply Clean Look</h2>
                    <p id="p2">Built using Bootstrap v3.3.7 with the Readable theme Gradapps v2.0 aims keep content easy to read and navigate.</p>
                </div>
                <div class="col-md-4">
                    <h2 id="h3">Awesome Students!</h2>
                    <p id="p3">With great power comes great responsibility. Use your new powers wisely to find the students you couldn't have before.</p>
                </div>
            </div>
        </div>
        <% include partials/footer %>
