<% include partials/header %>
    <% include partials/navbar %>
        <div class="jumbotron">
        <div class="container text-center">
            <a id="go-back" href="/roles/admin/" class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Go back to dashboard </a>
        </div>
    </div>
<% include partials/footer %>
