<% include partials/header %>
    <% include partials/navbar %>
        <!--tables-->
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <% for(var i = 0; i < fields.length; i++){ %>
                                <th class="text-center"><%= fields[i]%></th>
                            <%}%>
                            <th class="text-center">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < apps.length; i++){ %>
                            <tr>
                            <% for(var j = 0; j < fields.length; j++){ %>
                                <td class="text-center">
                                    <%= apps[i][fields[j]]%>
                                </td>
                            <%}%>
                                <td class="text-center">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-primary">View Application</button>
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Set to <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Contacted</a></li>
                                            <li><a href="#">Requested</a></li>
                                            <li><a href="#">Interested</a></li>
                                            <li><a href="#">Not Interested</a></li>
                                        </ul>
                                    </div>
                                </td>  
                            </tr>
                            <%}%>
                    </tbody>

                </table>
            </div>
        </div>

<% include partials/filter-professor %>
<% include partials/footer %>
