<% include partials/header %>
    <% include partials/navbar %>
    <!--tables-->
    <div class="container-fluid">
        <p><strong>Selected Filter: </strong>Visa Status = VISA <span style="color:red">AND</span> GPA >= C <span style="color:red">AND</span> Committee Ranking > C</p>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Field of Interest</th>
                        <th>Committee Ranking</th>
                        <th>Degree Applied For</th>
                        <th>Visa Status <a href="#" style="color:#fff">&darr;</a></th>
                        <th>Application Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AI</td>
                        <td>A+</td>
                        <td>PHD (CS)</td>
                        <td>CAD</td>
                        <td>Contacted by Michael R. M. Jenkin</td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td>Theory of Computation, Networks, AI</td>
                        <td>A+</td>
                        <td>MSc</td>
                        <td>CAD</td>
                        <td>Accepted</td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td>Biomedical Engineering, Software Engineering, VR</td>
                        <td>C</td>
                        <td>MASc</td>
                        <td>CAD</td>
                        <td>Rejected</td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td>Theory of Computation, Networks</td>
                        <td>A+</td>
                        <td>PHD (CS)</td>
                        <td>VISA</td>
                        <td>Submitted</td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Field of Interest</th>
                        <th>Preferred Professor(s)</th>
                        <th>Committee Ranking</th>
                        <th>GPA</th>
                        <th>Degree Applied For</th>
                        <th>Visa Status</th>
                        <th>Application Status</th>
                        <th>Reviewed Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Edward Vaisman</td>
                        <td>AI</td>
                        <td>Michael R. M. Jenkin</td>
                        <td>A+</td>
                        <td>A+</td>
                        <td>PHD (CS)</td>
                        <td>CAD</td>
                        <td>Contacted by Michael R. M. Jenkin</td>
                        <td>Not Reviewed</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary">View Application</button>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Set to <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Contacted</a></li>
                                    <li><a href="#">Requested</a></li>
                                    <li><a href="#">Interested</a></li>
                                    <li><a href="#">Not Interested</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Human-centered computing, AI, Computer Graphics</td>
                        <td>Melanie Baljko, Matthew Kyan</td>
                        <td>B</td>
                        <td>A+</td>
                        <td>MSc</td>
                        <td>VISA</td>
                        <td>Contacted by Peter (Yong) Lian</td>
                        <td>Reviewed</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary">View Application</button>
                                <button class="btn btn-primary">Set to Contacted</button>
                                <button class="btn btn-primary">Set to Reviewed</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>S. Sakib Hasan</td>
                        <td>Theory of Computation, Networks, AI</td>
                        <td>Andrew Eckford, Franck van Breugel</td>
                        <td>A+</td>
                        <td>A+</td>
                        <td>MSc</td>
                        <td>CAD</td>
                        <td>Accepted</td>
                        <td>Not Reviewed</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary">View Application</button>
                                <button class="btn btn-primary">Set to Contacted</button>
                                <button class="btn btn-primary">Set to Reviewed</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Super Student</td>
                        <td>Biomedical Engineering, Software Engineering, AI</td>
                        <td>Jonathan S. Ostroff, Peter (Yong) Lian</td>
                        <td>C</td>
                        <td>N/A</td>
                        <td>PHD (SE)</td>
                        <td>VISA</td>
                        <td>Rejected</td>
                        <td>Reviewed</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary">View Application</button>
                                <button class="btn btn-primary">Set to Contacted</button>
                                <button class="btn btn-primary">Set to Reviewed</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Less Than Super Student</td>
                        <td>Theory of Computation, Networks</td>
                        <td>Andrew Eckford, Franck van Breugel</td>
                        <td>A+</td>
                        <td>A</td>
                        <td>PHD (CS)</td>
                        <td>VISA</td>
                        <td>Submitted</td>
                        <td>Not Reviewed</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary">View Application</button>
                                <button class="btn btn-primary">Set to Contacted</button>
                                <button class="btn btn-primary">Set to Reviewed</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Super Duper Student</td>
                        <td>Biomedical Engineering, Software Engineering, VR</td>
                        <td>Jonathan S. Ostroff, Peter (Yong) Lian</td>
                        <td>C</td>
                        <td>B</td>
                        <td>MASc</td>
                        <td>CAD</td>
                        <td>Rejected</td>
                        <td>Not Reviewed</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary">View Application</button>
                                <button class="btn btn-primary">Set to Contacted</button>
                                <button class="btn btn-primary">Set to Reviewed</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <% include partials/filter-professor %>
        <% include partials/footer %>
