<% include partials/header %>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#myPage">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Exit</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container middle">
        <div class="row text-center">
            <h1>
                <%= title %>
            </h1>
            <p class="alert alert-success"><strong>Success!</strong> You have logged in!</p>
            <p>Please select the role you wish to sign in as.</p>
            <form class="form-inline">
                <div class="form-group">
                    <select class="select" id="select">
                        <option>Admin</option>
                        <option>Committee Member</option>
                        <option>Professor</option>
                    </select>
                    <a class="btn" href="#" role="button">Sign In</a>

                </div>
            </form>
        </div>
        </body>

        </html>
