<% include partials/header %>
    <% include partials/navbar %>
        <div class="jumbotron fullpage">
        <div class="container text-center">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h3 id="user-header">Welcome back, <%= fname %>!</h3>
                <h4 id = "login-confirmation"><%= confirmation %></h4>
            </div>
            <p id="welcome-header"><%= title %></p>
            <div class="row">
                <div class="col-sm-4">
                    <% if (roles.includes('Admin')) { %>
                        <a id="admin-role" href="/roles/admin" class="btn btn-primary">Continue as an Admin &raquo;</a>
                    <% } %>
                </div>
                <div class="col-sm-4">
                    <% if (roles.includes('Professor')) { %>
                        <a id="professor-role" href="/roles/professor" class="btn btn-primary">Continue as a Professor &raquo;</a>
                    <% } %>
                </div>
                <div class="col-sm-4">
                    <% if (roles.includes('Committee Member')) { %>
                        <a id="committee-role" href="/roles/committee" class="btn btn-primary">Continue as a Committee Member &raquo;</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% include partials/footer %>
