<% include static/header %>
    <div class="container middle">
        <div class="row text-center">
            <h2 id="welcome-header"><%= title %></h1>
        </div>
    </div>
<% include static/footer %>
</body>
</html>
