body {
    padding-top: 65px;
    padding-bottom: 125px;
}

/* Button Stylings*/

.btn-primary {
    border-color: #3c79c4;
}

.btn {
    font-size: 14px;
}


/*Nav Tab stylings */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #4582ec;
    color: #fff;
}

/*Table stylings */
#reset-table, #refresh-table{
  margin-top: 5px;
}
/*From Tablesorter*/
.sorter-false{
  background-image: none;
}
.tablesorter .header,
.tablesorter .tablesorter-header {
	/* black (unsorted) double arrow */
	background-image: url(../image/bg.gif);
	/* white (unsorted) double arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
	/* image */
	/* background-image: url(images/black-unsorted.gif); */
	background-repeat: no-repeat;
	background-position: center right;
  padding-right: 20px;
	cursor: pointer;
}
.tablesorter .headerSortUp,
.tablesorter .tablesorter-headerSortUp,
.tablesorter .tablesorter-headerAsc {
	/* black asc arrow */
	background-image: url(../image/desc.gif);
	/* white asc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
	/* image */
	/* background-image: url(images/black-asc.gif); */
}
.tablesorter .headerSortDown,
.tablesorter .tablesorter-headerSortDown,
.tablesorter .tablesorter-headerDesc {
	/* black desc arrow */
	background-image: url(../image/asc.gif);
	/* white desc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
	/* image */
	/* background-image: url(images/black-desc.gif); */
}

/* table processing indicator */
.tablesorter .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(images/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

.tablesorter .sorter-false {
    background-image: none;
    cursor: default;
}

table.tablesorter {
	margin:10px 0pt 15px;
	font-size: 12px;
	width: 100%;
	text-align: left;
}

/*End Tablesorter*/

.table-responsive {
    max-height: 500px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #dbd9d7;
}

table > thead > tr > th {
    background: #ed5565;
    color: #fff;
    white-space: nowrap;
    width: 20%;
}

table > tbody > tr > td > button,
table > tbody > tr > th > button {
    width: 100%;
}
td .btn-primary {
  font-size: 12px;
}
table .dropdown-menu {
    min-width: 100%;
}
/*Modal stylings */

.modal-header,
.close {
    background-color: #222;
    color: #f1f1f1 !important;
    text-align: center;
    font-size: 30px;
}

.modal-header h2 {
    font-size: 30px;
}

.modal-body h4 {
    padding-bottom: 0px;
}

.modal-body .badge{
    background-color: #4582ec;
    border-radius: 3px;
    top:1px;
    font-size: 16px;
}
.modal-content {
    border: 0px;
}

.modal-header,
.modal-body,
.modal-footer{
    padding: 7px 50px;
}

.modal-footer .btn + .input-group > input{
    margin-left: 5px;
    margin-bottom: 0px;
}
/*adds border radius for buttons after a textbox*/

.input-group-btn:last-child > .btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/*Footer stylings*/

footer {
    background-color: #222;
    color: #fff;
    padding: 16px;
    width: 100%;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

/**Navigation**/

.navbar-default {
    background-color: #222222;
    border-color: #333333;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-brand img {
    height: 100%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #222222;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #333333;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-toggle {
    border-color: #333333;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #333333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #333333;
    }
}