body {
    padding-top: 65px;
    padding-bottom: 125px;
}
/*
#homepage {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
*/
/* Button Stylings*/

.btn-primary {
    border-color: #3c79c4;
}


/*Nav Tab stylings */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #4582ec;
    color: #fff;
}

/*Table stylings */

.table-responsive {
    max-height: 450px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #dbd9d7;
}

table > thead > tr > th {
    background: #ed5565;
    color: #fff;
    white-space: nowrap;
    width: 20%;
}

table > tbody > tr > td > button,
table > tbody > tr > th > button {
    width: 100%;
}

table .dropdown-menu {
    min-width: 100%;
}
/*Modal stylings */

.modal-header,
.close {
    background-color: #222;
    color: #f1f1f1 !important;
    text-align: center;
    font-size: 30px;
}

.modal-header h2 {
    font-size: 30px;
}

.modal-body h4 {
    padding-bottom: 0px;
}

.modal-body .badge{
    background-color: #4582ec;
    border-radius: 3px;
    top:1px;
    font-size: 16px;
}
.modal-content {
    border: 0px;
}

.modal-header,
.modal-body,
.modal-footer{
    padding: 7px 50px;
}

.modal-footer .btn + .input-group > input{
    margin-left: 5px;
    margin-bottom: 0px;
}
/*adds border radius for buttons after a textbox*/

.input-group-btn:last-child > .btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/*Footer stylings*/

footer {
    background-color: #222;
    color: #fff;
    padding: 16px;
    width: 100%;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

/**Navigation**/

.navbar-default {
    background-color: #222222;
    border-color: #333333;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-brand img {
    height: 100%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #222222;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #333333;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.navbar-default .navbar-toggle {
    border-color: #333333;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #333333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #333333;
    }
}
