<!-- Modal Filter Section-->
<div class="modal fade" id="filterModal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">—</button>
                <h2>Filter <span class="glyphicon glyphicon-pencil"></span></h2>
            </div>
            <form action="/roles/professor" method="post">
                <div class="modal-body">
                    <div id="columns" class="form-group row">
                        <h4>Choose Your Columns</h4>
                        <select style="display: inline-block;">
                            <option>Loaded from database...</option>
                            <option>Preset 2</option>
                            <option>Preset 3</option>
                            <option>Preset 4</option>
                        </select>
                        <hr>
                        <div class="row">
                            <div class="form-group btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Name</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Field of Interest</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Preferred Professor</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Committee Ranking</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">GPA</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Degree Applied For</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Visa Status</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">Application Status</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="This field is private and can only be seen by you.">My Interest Status</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4>Choose Your Filters</h4>
                        <hr>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter name here" id="">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary form-control" type="button">Apply</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Field of Interest</label>
                                    <select class="form-control" id="">
                                <option>Loaded from file...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Preferred Professor</label>
                                    <select class="form-control" id="">
                                <option>Loaded from file...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Committee Ranking</label>
                                    <select class="form-control" id="">
                                <option>A+</option>
                                <option>A</option>
                                <option>B+</option>
                                <option>B</option>
                                <option>C</option>
                                <option>Any</option>
                            </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label for="">GPA</label>
                                <select class="form-control" id="">
                                <option>=A+</option>
                                <option>>=A</option>
                                <option>>=B+</option>
                                <option>>=B</option>
                                <option>>=C+</option>
                                <option>>=C</option>
                                <option>>=D+</option>
                                <option>>=D</option>
                                <option>>=E</option>
                                <option>>=F</option>
                                <option>none</option>
                            </select>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Degree Applied For</label>
                                    <select class="form-control" id="">
                                <option>PhD</option>
                                <option>MSc</option>
                                <option>MASc</option>
                                <option>Any</option>
                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Visa Status</label>
                                    <select class="form-control" id="">
                                <option>Domestic</option>
                                <option>Visa</option>
                                <option>Any</option>
                            </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">Application Status</label>
                                    <select class="form-control" id="">
                                <option>Date Uploaded</option>
                                <option>Contacted</option>
                                <option>Requested</option>
                                <option>Program Decision</option>
                                <option>Student Decision</option>
                            </select>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="">My Interest Status</label>
                                    <select class="form-control" id="">
                                <option>Very Interested</option>
                                <option>Interested</option>
                                <option>Not Interested</option>
                                <option>Any</option>
                            </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <h4>Selected Filter</h4>
                        <hr>
                        <input id="sql" name="sql" type="hidden" value="">
                        <p>Visa Status = VISA <span style="color:red">AND</span> GPA >= C <span style="color:red">AND</span> Committee Ranking > C</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <button type="submit" class="btn btn-success btn-default pull-left" ><span class="glyphicon glyphicon-check"></span> Submit</button>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Preset Name" id="">
                            <span class="input-group-btn">
                                            <button class="btn btn-primary form-control" type="button">Save Preset</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
