<!-- Footer -->
<footer class="navbar-fixed-bottom container-fluid text-center">
    <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
    <p>Gradapps 2.0 / Edward Vaisman, S. Sakib Hasan</p>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metadata.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<% if (role === 'Committee Member') {%>
    <script src="/js/committee.js"></script>
<%}%>
</body>
</html>
