<!-- Footer -->
<footer class="navbar sticky-bottom container-fluid text-center">
    <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br><br>
    <% if (role === 'Committee Member') { %> 
        Need help? Read the <a id="committee-manual" href="/docs/users-manual/committee-manual.pdf" class="urlextern" target="_blank" title="Admission Committee User Manual" rel="nofollow">user manual</a> <span class="glyphicon glyphicon-file"></span>
        <hr>
    <%} %>
    <p>Gradapps 2.0 / Edward Vaisman, S. Sakib Hasan</p>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metadata.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<% if (role === 'Committee Member') {%>
    <script src="/js/committee.js"></script>
    <script type="text/javascript"> var presets = <%-JSON.stringify(presets)%>;</script>
<%}%>
</body>
</html>
