<!-- Footer -->
<footer class="navbar-bottom container-fluid text-center">
    <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br><br>
    <p>Gradapps 2.0 / Edward Vaisman, S. Sakib Hasan /
      <% if (!role) { %>
          <a a id="system-manual" href="/docs/users-manual/user-manual.pdf" class="urlextern" target="_blank" title="System User Manual" rel="nofollow">User Manual <span class="glyphicon glyphicon-file"></span></a>
      <%} %>
      <% if (role === 'Committee Member') { %>
        <a id="committee-manual" href="/docs/users-manual/committee-manual.pdf" class="urlextern" target="_blank" title="Admission Committee User Manual" rel="nofollow">User Manual <span class="glyphicon glyphicon-file"></span></a>
      <%} %>
      <% if (role === 'Admin') { %>
        <a id="admin-manual" href="/docs/users-manual/admin-manual.pdf" class="urlextern" target="_blank" title="Administrator User Manual" rel="nofollow">User Manual <span class="glyphicon glyphicon-file"></span></a>
      <%} %>
      <% if (role === 'Professor') { %>
        <a id="prof-manual" href="/docs/users-manual/professor-manual.pdf" class="urlextern" target="_blank" title="Professor User Manual" rel="nofollow">User Manual <span class="glyphicon glyphicon-file"></span></a>
      <%} %>
    </p>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metadata.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<% if (role==='Professor') {%>
    <script src="/js/professor.js"></script>
    <script type="text/javascript"> var presets = <%-JSON.stringify(presets)%>;</script>
<%}%>
<% if (role === 'Committee Member') {%>
    <script src="/js/committee.js"></script>
    <script type="text/javascript"> var presets = <%-JSON.stringify(presets)%>;</script>
    <script src="https://web.archive.org/web/20161124120603js_/http://www.papercut.com/products/free-software/are-you-sure/jquery.are-you-sure.js"></script>
<%}%>
</body>
</html>
