<!DOCTYPE html>
<html lang="en" class="<%= fullpage %>">

<head>
    <!--
    Author: Edward Vaisman, S. Sakib Hasan
    Description: Created for the EECS graduate department
    -->
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    
    <!--change to download local copies of these files...-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body class="<%= fullpage %>" data-spy="scroll" data-target=".navbar" data-offset="50">
