    <!-- Footer -->
    <div class="footer">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>Gradapps 2.0 Copyright &copy; 2017-2018</p>
    </div>
</body>

</html>
